.topheader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--theme-color);
  height: 90px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.logo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
